services:
  backend:
    build: ./backend
    container_name: notes-backend
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://db:27017/inotebook
    depends_on:
      db:
        condition: service_healthy
    restart: always

  frontend:
    build: ./frontend
    container_name: notes-frontend
    ports:
      - "3000:80"
    depends_on:
      backend:
        condition: service_started
    restart: always

  db:
    image: mongo:latest
    container_name: notes-db
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s

volumes:
  mongo-data: